# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_URL=jdbc:postgresql://localhost:5432/tu_db_local
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password

# --- SEGURIDAD ---
JWT_SECRET=TuClaveSecretaSuperSeguraYExtremadamenteLargaParaDesarrolloLocal
CORS_ALLOWED_ORIGINS=http://localhost:5173

# --- OTROS ---
PORT=8080
